name: Daily launch

on:
  schedule:
    - cron: '23 16 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          
      - name: Install Poetry
        run: pip install poetry
        
      - name: Install dependencies
        run: poetry install --no-root
        
      - name: Run Python script
        run: poetry run python main.py
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          TASKS_JSON: ${{ secrets.TASKS_JSON }}
